.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    margin: 1rem;
    padding: 50px;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    margin-left: auto; /* Desplaza el contenedor hacia la derecha */
    align-items: flex-start;
}
