/* Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a0dad; /* Color morado */
  color: white; /* Texto blanco */
  padding: 20px;
}

.rc{
  font-family: 'Jokerman', sans-serif;
  position: relative;
 left: 480px;
 @media (max-width: 900px) {
  position: relative;
  left: 0px
}
}


  