.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    margin: 1rem;
    padding: 50px;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    margin-left: auto; /* Desplaza el contenedor hacia la derecha */
    align-items: flex-start;
   
}

.previousPage{
    position: relative;
    left: -550px; top:-90px;
    background-color: black;
    color:azure;
    height: 50px;
}
/* Media queries para pantallas más pequeñas */
@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* Cambia a 2 columnas en pantallas más pequeñas */
    }
    .previousPage{
        top:30px; left: 0px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Cambia a 1 columna en pantallas aún más pequeñas */
    }
    }
