.inputs{
    color:rgb(0, 0, 0);
    border-radius: 5px;
    border-color:blue;
    position: relative;
    top: 20px;
    width: 290px; height:40px;
}
input::placeholder {
    color: #999; /* Color del texto del placeholder */
    font-style: italic; /* Estilo de fuente del placeholder */
    font-size: 14px; /* Tamaño de la fuente del placeholder */
  }
.form {
    background-color: black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    position: relative;
    top: 50px;
}
.buttonLogin{
    position: relative;
    top: 60px; 
    width: 290px; height: 40px;
    background-color: blueviolet;
}
.circuloSuperior{
    background-color: rgb(30, 61, 28);
    height: 10px; 
}
.h3{
    font-family: 'Comic Sans MS', cursive;
    position: relative;
 top: -10px
}
.adminH2{
    position:relative;
    top:-50px;
color:azure;
font-family: 'Roboto', sans-serif;
border-radius: 2px; 
height: 47px;
border: 2px solid rgb(30, 61, 28); /* Borde sólido de 2px de grosor y color negro */
background-color: rgba(27, 65, 28, 0.5); 
}
.Binicio{
    position: relative;
    top: -80px; left: 50px;
    width: 290px; height: 40px;
    background-color: rgb(13, 12, 14);

    @media (max-width: 1000px) {
        top: 440px; left: 300px;
 }
 
 @media (max-width: 900px) {
    top: 440px; left: 250px;
}
@media (max-width: 800px) {
    top: 440px; left: 200px;
}
@media (max-width: 700px) {
    top: 440px; left: 150px;
}
    @media (max-width: 500px) {
       top: 440px; left: 100px;
      }
      @media (max-width: 590px) {
        top: 440px; left: 50px;
       }
}
.h3{
    font-family: 'Comic Sans MS', cursive;
    position: relative;
 top: -10px
}
    .h3Inicio{
        color: aliceblue;
        font-family: 'Comic Sans MS', cursive;
        position: relative; 
     top: -10px
    }
body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url('../../../../api/imagenes/granizados1.jpg');
        background-color: rgba(0, 0, 0, 0.8); /* Color de fondo negro con una opacidad del 50% */
        background-blend-mode: multiply; /* Mezcla el color de fondo con la imagen */
        background-size: cover;
        background-position: center;
      } 
       